@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --tomato: hsl(4, 100%, 67%);
  --tomato-hover: hsla(4, 100%, 67%, 0.5);
  --tomato-transparent: hsla(4, 100%, 67%, 0.2);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
  --pink: #ff5478;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color: var(--charcoal-grey);
}

.subscription-page {
  margin: 0 auto;
  background-color: var(--white);
  max-width: 930px;
  display: grid;
}

.subscription-image {
  width: 100%;
}

.subscription-text {
  padding: 12% 6.7% 11%;
}

.subscription-header {
  padding-bottom: 7.7%;
  font-size: 4rem;
}

.subscription-details {
  line-height: 2.5rem;
}

.subscription-list {
  list-style: none;
  padding-top: 8.5%;
}

.subscription__list-item {
  position: relative;
  padding-left: 2.5em;
  padding-bottom: 0.6em;
  line-height: 2.5rem;
}

.subscription__list-item:before {
  content: "";
  width: 23px;
  height: 23px;
  position: absolute;
  background-image: url("./assets/images/icon-list.svg");
  background-size: cover;
  background-position: center;
  left: 0;
}

.subscription-form {
  padding-top: 11%;
}

.subscription__label-error-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
  font-size: 1.2rem;
  font-weight: 700;
}

.email-error__label {
  color: var(--tomato);
}

.subscription__email-input {
  width: 100%;
  padding: 1.25em 1.5em;
  font-size: 1.6rem;
  border: 1px solid var(--grey);
  border-radius: 0.6em;
  margin-bottom: 1.5em;
}

.subscription__email-input:focus {
  outline: none;
  border: 1px solid black;
}

.subscription__email-input.subscription__email-input--error {
  border: 1px solid var(--tomato);
  background-color: var(--tomato-transparent);
  color: var(--tomato);
}

.button {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 1.25em;
  color: var(--white);
  background-color: var(--dark-slate-grey);
  border: none;
  border-radius: 0.6em;
  font-size: 1.6rem;
  transition: background-color 1.5s ease-out 100ms;
}

.button:hover {
  background: linear-gradient(to right, var(--pink), var(--tomato));
  box-shadow: 0px 20px 40px var(--tomato-hover);
}

.button:active {
  background: var(--pink);
}

/* footer */
.attribution {
  padding: 2%;
  font-size: 1.1rem;
  text-align: center;
  color: var(--white);
}

.attribution a {
  color: var(--tomato);
  text-decoration: none;
}

/* success message */
.success-message__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 40% 6.6% 10.7%;
}

.success-icon {
  width: 70px;
  height: 70px;
  margin-bottom: 14%;
}

.success-header {
  font-size: 4rem;
  line-height: 4rem;
  padding-bottom: 8.7%;
}

.success-text {
  line-height: 2.4rem;
}

@media (min-width: 500px) {
  .subscription-page {
    padding: 7%;
  }

  .success-message__container {
    width: 90%;
    max-width: 505px;
    margin-top: 10%;
    height: fit-content;
    padding: 3.8% 5% 5%;
    border-radius: 2em;
  }

  .success-icon {
    margin-bottom: 12%;
  }

  .success-header {
    font-size: 4.6rem;
    line-height: 5.2rem;
  }

  .dismiss-button {
    margin-top: 12.5%;
  }
}

@media (min-width: 700px) {
  body {
    padding: 15.4% 0;
  }

  .subscription-page {
    grid-template-columns: 1fr 1fr;
    padding: 1.5em;
    border-radius: 2em;
  }

  .subscription-text {
    padding: 17% 4.5% 17% 13.6%;
  }

  .subscription-illustration {
    order: 2;
    padding-left: 9%;
    align-self: center;
  }

  .success-message__container {
    margin-top: 0;
    width: 100%;
  }
}
